body {
    .sidenav-responsive {
        width: 25vw;
        position: absolute;
        z-index: 1000;
        background: #000;
        height: 100vh;
        ul {
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $color-4;
                }
            }
        }
    }
}

.sidenav-responsive * {
    outline: 1px solid white;
}
