body {
    .container {
        max-width: 80%;
        margin: 0 auto;
        .main {
            #carouselExampleControls {
                display: none;
            }
            padding-top: 50px;
            padding-bottom: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .main-left {
                width: 100%;
                .img-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    // width: 50%;
                    .principal-img {
                        max-width: 390px;
                        border-radius: 15px;
                    }
                    .img-thumnails {
                        margin: 20px 0;
                        display: flex;
                        align-items: center;
                        width: 390px;
                        justify-content: space-between;
                        img {
                            border-radius: 10px;
                            cursor: pointer;
                            width: 80px;
                            overflow: hidden;
                            position: relative;
                            &:hover {
                                filter: opacity(55%);
                            }
                            &:focus {
                                outline: 3px solid $color-1;
                            }
                        }
                    }
                }
            }
            .main-right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center; //!HI
                .sneakerCompany {
                    font-size: 13px;
                    color: $color-1;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
                h1 {
                    font-size: clamp(1.3em, 9vw, 2.5em);
                    color: $color-3;
                    margin: 0.55rem 0;
                    font-weight: 700;
                }
                p {
                    line-height: 1.6em;
                    color: $color-4;
                    max-width: 100vw;
                    font-size: clamp(.9rem, 9vw, 1.1rem);
                    margin-bottom: 20px;
                }
                .values {
                    margin-bottom: 20px;
                    .price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 12px;
                        strong {
                            font-size: 1.7em;
                            margin-right: 15px;
                        }
                        span {
                            text-align: center;
                            padding: 2px 8px;
                            font-size: .8em;
                            font-weight: 700;
                            color: $color-1;
                            background-color: $color-2;
                            border-radius: 4px;
                        }
                    }
                    del {
                        color: $color-5;
                        font-size: 1em;
                    }
                }
                .add-to-cart {
                    margin-top: 15px;
                    width: 100%;
                    justify-content: start;
                    align-items: center;
                    display: flex;
                    .addSubstract {
                        padding: 3px 0;
                        border-radius: 6px;
                        background-color: $color-6;
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1em;
                            text-align: center;
                            height: 100%;
                            font-weight: 700;
                            color: $color-3;
                            margin: 0px 5px;
                        }
                        button {
                            border-radius: 6px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 14px 35px;
                            background-color: $color-6;
                            border: none;
                            position: relative;
                            overflow: hidden;
                            .add {
                                margin-right: -20px;
                            }
                            .substract {
                                margin-left: -20px;
                            }
                            &:hover img {
                                filter: opacity(75%);
                            }
                        }
                        input {
                            width: 30px;
                            border: none;
                            background-color: transparent;
                            text-align: center;
                            &:focus-visible {
                                border: transparent;
                                outline: transparent;
                            }
                        }
                    }
                    .add-cart {
                        button {
                            border-radius: 6px;
                            background-color: $color-1;
                            display: flex;
                            height: 45px;
                            width: 240px;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            color: $color-7;
                            font-weight: 700;
                            img {
                                width: 16px;
                                margin-right: 10px;
                            }
                            &:hover {
                                filter: opacity(75%);
                            }
                        }
                    }
                }
            }
        }
    }
}
