body {
    .show {
        display: flex !important;
    }
    .modal-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 100;
        background-color: #000a;
        .modal-container-1,
        .modal-container-2,
        .modal-container-3 {
            display: flex;
            width: 32vw;
            justify-content: center;
        }
        .modal-container-1 {
            align-items: end;
            flex-direction: column;
            margin-bottom: 10px;
            img {
                width: 22px;
                color: #fff;
            }
        }
        .modal-container-2 {
            align-items: center;
            flex-direction: row;
            width: 35vw;
            #carouselExampleControls {
                margin-bottom: 0.8rem;
                display: block;
                .carousel-inner {
                    .carousel-item {
                        img {
                            border-radius: 10px;
                        }
                    }
                }
                .carousel-control-prev {
                    opacity: 1;
                    left: -30px;
                    .carousel-control-prev-icon {
                        background: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-image: none;
                        border-radius: 50%;
                        width: 44px;
                        height: 44px;
                        img {
                            width: 12px;
                        }
                    }
                }
                .carousel-control-next {
                    opacity: 1;
                    right: -30px;
                    .carousel-control-next-icon {
                        background: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-image: none;
                        border-radius: 50%;
                        width: 44px;
                        height: 44px;
                        img {
                            width: 12px;
                        }
                    }
                }
            }
        }
        .modal-container-3 {
            display: flex;
            justify-content: space-between;
            img {
                width: 80px;
                border-radius: 10px;
            }
            // .active-img {
            //     // border: ;
            // }
        }
    }
}

// .modal-container * {
//     outline: 1px solid rgba(39, 133, 255, 0.631);
// }
